html{
    height: 100%;
}
body{
    margin: 0;
	padding: 0;
    background-image: linear-gradient(to right, #184bda, #1f48a2);
    font-family: Arial, Helvetica, sans-serif;
}
.centralizador {
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    width: 50%;
}

.reiniciar{
    cursor: pointer;
    color:white;
    transition: .3s;
}
.reiniciar:hover{
    color:lightgray;
    transition: .3s;
}
.p{
  
    width: 2.7em;
    height: 1em;
    color:white;
    font-size: 5em;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.linha{
    display: flex;
  

}
.meio{
    border-top: 0.1em solid black;
    border-bottom:0.1em solid black;
}
.centro{
    border-left: 1px solid black;
    border-right:1px solid black;
   
}
.barra{
   
    height: 7em;
    width: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    align-content: center;
}
.barra div{
    width: 100%;
   
    text-align: center;
    color:white;
  
}
.pe{
    position: absolute;
    bottom:0px;

}
