html{
    height: 100%;
}
body{
    margin: 0;
	padding: 0;
    background-image: linear-gradient(to right, #184bda, #02236b);
    font-family: Arial, Helvetica, sans-serif;
}
.centralizador {
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translateX(-50%) translateY(-50%);
   
    width: 50%;
}
.p{
  
    width: 100%;
    height: 100%;
    color:white;
    font-size: 5em;
    cursor: pointer;
    user-select: none;
  /*  color: rgba(0,0,0, 0);*/
}
.linha{
    display: flex;
    text-align: center;

}
.meio{
    border-top: 0.1em solid black;
    border-bottom:0.1em solid black;
}
.centro{
    border-left: 1px solid black;
    border-right:1px solid black;
}